@charset "UTF-8";

.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default .inputAutenticacao {
	background: #BBE1FA;
}

.textoContainer {
	color: #BBE1FA;
}

.headerContainer {
	font-weight: bold;
	font-size: 1.1em;	
}

.cabecalhoContainer {
	text-align: center;
	margin-bottom: 10%;
}

.containerAutenticacao {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40vh;
	padding: 2%;
}

.botaoLoginContainer {
	display: flex;
	justify-content: center;
	margin-top: 7%;
}

.value {
	font-weight: bold;
}